html{

    font-size: 16px;
    font-family: "Microsoft YaHei";
    box-sizing: border-box;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.hidden{
    display: none !important;
}

.displayFlex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.clearFloat:before,.clearFloat:after{
    display:table;
    content: "";
}

.clearFloat:after{
    clear:both;
}

a{
    text-decoration:none;
    color:inherit;
}

a:hover{
    text-decoration:none;
    color:inherit;
}

a:active{
    text-decoration:none;
    color:inherit;
}

a:visited{
    text-decoration:none;
    color:inherit;
}



@media (min-width: 376px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    html {
        font-size: 16px;

    }
}

@media (min-width: 321px) and (max-width: 360px) {
    html {
        font-size: 15px;

    }
}

@media (max-width: 320px) {
    html {
        font-size: 13px;
    }
}


.cbutton {
    position: relative;

}

.cbutton.cbutton--click,
.cbutton:focus {
    outline: none;

}

.cbutton__icon {
    display: block;
}

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5rem 0 0  -1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}

/*.cbutton--box {*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*border: 4px solid rgb(22, 35, 47);*/
/*}*/

.cbutton--box-color-1 {
    background: #ff8b00;
}

.cbutton--box-color-2 {
    background: #b61854;
}

.cbutton--box-color-3 {
    background: #1d5cab;
}

.cbutton--box-color-4 {
    background: #f2438c;
}

.cbutton--box-color-5 {
    background: #ff6414;
}

.cbutton--box-color-6 {
    background: #5ed500;
}

.cbutton--box-color-7 {
    background: #0077ff;
}

.cbutton--box-color-8 {
    background: #7bff00;
}

.cbutton--box-color-9 {
    background: #fff;
}

/* Radomir */
.cbutton--effect-radomir::after {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
}

.cbutton--effect-radomir.cbutton--click::after {
    -webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
    animation: anim-effect-radomir 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    80% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0.1;
    }
    100% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-radomir {
    0% {
        opacity: 1;
        -webkit-transform: scale3d(0.4, 0.4, 1);
        transform: scale3d(0.4, 0.4, 1);
    }
    80% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0.1;
    }
    100% {
        box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

