html{
    font-size: 16px;
    font-family: "microsoft yahei";
    box-sizing: border-box;
    color:#666;
}


a:link {
    color:#666;
    text-decoration:none;
}

a:visited {
    color:#666;
    text-decoration:none;
}

a:hover {
    color:#666;
    text-decoration:none;
}

a:active {
    color:#666;
    text-decoration:none;
}



.linklineStyle{
    height:3rem;
    line-height: 3rem;
    font-size: 1rem;
    border-bottom:1px solid #cecece ;
}