.outter{
    background-color: #FF8600;
    background-image: url("img/bj.png");

    background-size:100%;
    background-repeat: no-repeat;
    padding:10rem 0.5rem 1rem;
    min-height: 100%;
}

.mainContainer{
    width:100%;

}

.titleText{
    font-size: 1.1rem;
    margin-top: 1rem;

}

.mainContainer{
    margin-top: 10rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding:1rem;
}

.leftPart,.rightPart{
    width: 50%;
    text-align: center;
}

.bigText{
    font-size: 1.5rem;
    color:#F9AE26;
    margin-top: 1rem;
}
.bigText span{
    font-size: 0.875rem;
    margin-left: 0.25rem;
}

.button{
    display: block;
    width:80%;
    height:auto;
    margin: 0.5rem auto;
}

.countNums{
    margin-bottom: 1.5rem;
}
.aPartLine{
    position: relative;
    background: url("img/split-line.png");
    background-size: auto 102%;
    height:0.5rem;
    margin-top: 2.5rem;
}


.activityText{
    position: absolute;
    width:8rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #fff;
    left:50%;
    margin-left: -4rem;
    top:-0.5rem;

}

.rulesOl{
    padding-left: 1rem;
}
