body{
    background-color: #FFD560;
    padding:1rem;
}
.ticketPart{
    margin-top: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    padding:1rem;
    border-radius: 0.5rem;
}
.leftPart div{
    color:#666;
    font-size: 1.125rem;
    line-height: 2rem;
}
.leftPart{
    width:10rem;
    margin-right: 1rem;
}
.leftPart .titleTextTitle{
    color:#333;
}
.leftPart .titleTextTitle span{
    color:#F9A709;
}

.qrImg{
    width:8rem;
    height: 8rem;
}