html{
    height:100%;
}
body{
    height: 100%;
    overflow: auto;
    font-size: 16px;
}
.outter{
    position: relative;
    background-color: #FF8600;
    background-image: url("img/bj.png");

    background-size:100%;
    background-repeat: no-repeat;
    padding:10rem 1rem 1rem;
    min-height: 100%;
}

.button{
    display: block;
    width:80%;
    height:auto;
    margin:1rem auto 3rem;
}
.mainArea{

    position: absolute;
    width:calc(100% - 2rem);
    background-color: #fff;
    padding:1rem;
    bottom:1rem;
    border-radius: 0.5rem;

}
.text{
    font-size: 1.25rem;
    height:3rem;
    line-height: 3rem;
    text-align: center;
    color:#666;
}