.container{
    position: relative;
    background-color: #007FCC;

    width:80%;

    margin: 10rem auto 0 auto;
    padding:1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;

}

input{
    border:none;
    width:80%;
    height: 100%;

    outline: none;
    text-indent: 10px;
}


.submitBtn{
    width:100%;
    margin: 2rem auto 0;
    height:2rem;
    line-height: 2rem;
    background-color: #002786;
    color:#fff;
    text-align: center;
    border-radius: 0.4rem;

    font-size: 1rem;
}

.submitBtn.btnLock{
    background-color:#dddddd ;
}

.p5Title{
    color:#fde51b;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
}

.p5TitleSmall{
    color:#fde51b;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
}

.p5text {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
  line-height: 1.75rem;

}
.p5textLine1{
    border-top: 1px solid #fff;
    margin-top: 0.5rem;
    padding-top: 1rem;
}

.p5Input{
    color:#fff;
    font-size: 1rem;
  line-height: 1.5rem;
    height: 1.75rem;
    margin-top:1.75rem;
}

.p5headImg{
    position: absolute;
    width: 16rem;
    left: 50%;
    margin-left: -8rem;
    top:-5.5rem;
}
.p5headImg>img {
    width:100%;
}


.giftPart{
    position: relative;
    width:65%;
    height:5.5rem;
    background-color:#fde51b ;
    color:#007FCC;
    margin: 0 auto;
    overflow: hidden;
}

.round{
    position: absolute;
    width:0.5rem;
    height:0.5rem;
    border-radius: 1rem;
    background-color:#007FCC ;
}
.roundLeft1{
    left:-0.25rem;
    top: 0.25rem;
}
.roundLeft2{
    left:-0.25rem;
    top: 1rem;
}

.roundLeft3{
    left:-0.25rem;
    top: 1.75rem;
}

.roundLeft4{
    left:-0.25rem;
    top: 2.5rem;
}

.roundLeft5{
    left:-0.25rem;
    top: 3.25rem;
}

.roundLeft6{
    left:-0.25rem;
    top: 4rem;
}

.roundLeft7{
    left:-0.25rem;
    top: 4.75rem;
}


.roundRight1{
    right:-0.25rem;
    top: 0.25rem;
}
.roundRight2{
    right:-0.25rem;
    top: 1rem;
}

.roundRight3{
    right:-0.25rem;
    top: 1.75rem;
}

.roundRight4{
    right:-0.25rem;
    top: 2.5rem;
}

.roundRight5{
    right:-0.25rem;
    top: 3.25rem;
}

.roundRight6{
    right:-0.25rem;
    top: 4rem;
}

.roundRight7{
    right:-0.25rem;
    top: 4.75rem;
}

.topLine{
    width: 100%;
    height: 1.5rem;
    border-top: 1px solid #fff;
    margin-top: 1rem;
}

.giftText{
    color:#007FCC;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.4rem;
}

.giftTextDiscription{
    color:#007FCC;
    font-size: 1.75rem;
    text-align: center;
}
