<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no,target-densitydpi=device-dpi"/>
    <title>首页</title>
    <link rel="stylesheet" href="../mainCss/main.css">
    <link rel="stylesheet" href="../mainCss/page.css">
</head>
<body>
<div class="innerPageTitle">
    <div class="innerTitleText">党政同责</div>

</div>
<div class="innerPageContainerOutter">
    <div class="innerPageContainer">

    </div>
</div>
<div class="innerPageFooter">
    <div class="footerBtn">
        <img src="../img/back.png">
        <span>返回查看更多</span>
    </div>

</div>
</body>
</html>