html {
    font-size: 16px;
    height: 100%;
    font-family: "microsoft yahei";
    /*background: -webkit-linear-gradient(top,#0530a3,#0751fe);*/
    background:#085fff;
    overflow: hidden;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    height:100%;

}
.hidden{
    display: none !important;
}
.opacity100{
    opacity: 1 !important;
}
@font-face {
    font-family: numberFontForGame;
    src: url('../font/HelveticaNeueLTPro-UltLt.otf');
}

@media (min-width: 376px) {
    html {
        font-size: 17px;

    }
}

@media (min-width: 361px) and (max-width: 375px) {
    html {
        font-size: 16px;

    }
}

@media (min-width: 321px) and (max-width: 360px) {
    html {
        font-size: 15px;

    }
}

@media (max-width: 320px) {
    html {
        font-size: 13px;
    }
}
/*page1*/
#page1{
    width: 100%;
    min-height: 100%;
    height:100%;
    background: url(../img/88-1-02.png) no-repeat;
    background-size: 100% auto;
    /*background-position: center;*/
    overflow: hidden;
    background-color: #085fff;
}

.page1Btn{
    width:55%;
    height:4rem;
    line-height: 3.6rem;
    margin:27rem auto 0;
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 0.5rem;
    color:#096bfc;
    background-color: #fffd76;
    border-radius: 1rem;
    box-sizing: border-box;
    border:3px solid #fff;
    box-shadow: 0 0 1.625rem #0bffff;



    /*-webkit-text-stroke: 0.1px #fff;*/
    /*-webkit-text-fill-color: #096bfc;*/
}
.rules>div{
    text-align: left;
    width:70%;
    margin: 0 auto;
    color:#fff;
    line-height: 2rem;
    font-size: 0.875rem;
    font-family: "microsoft yahei light";
}

.rules .rl1{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: "microsoft yahei";
}


/*page2*/
#page2{
    width: 100%;
    min-height: 100%;
    height:100%;
    background: url(../img/88-1-01.png) no-repeat;
    background-size: 100% auto;
    /*background-position: center;*/
    overflow: hidden;
    background-color: #085fff ;
}



.titleText{
    height:4rem;
    line-height: 5rem;
    width:22rem;
    margin: 0 auto;
    text-align: right;
    /*color: #779ced;*/
    color:rgba(255,255,255,.8);
}
.gameArea{
    width:22rem;
    height:34rem;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 1rem;
    border:1px solid #779ced;
    box-sizing: border-box;
    overflow: hidden;
}
.resultPart{
    padding:1rem;
    background-color: #0853e8;
    border-radius: 1rem;
}
.rLineStyle{
    height:4rem;
    line-height: 5rem;
    font-size:2rem;
    font-family: "microsoft yahei light";
    color:#e9effb;
    letter-spacing: 0.1rem;
}
.rLine1{

    border-bottom: 1px solid #779ced;
    text-indent:1rem;
    font-family: "numberFontForGame","microsoft yahei light";
}
.rLine2{
    color:#fff600;
    font-size: 3rem;
    text-align: right;
    margin-right: 0.75rem;
    font-family: "numberFontForGame","microsoft yahei light";
}
.white{
    color:#e9effb;
}


.clickPart{
    padding:0.5rem 0.5rem;
    height:24rem;
    background: -webkit-linear-gradient(top,#0d82fe,#11B6FE);
    border-radius: 1rem;
    box-shadow:0 0 6px 1px rgba(0,0,0,0.3);

}


/* flip the pane when hovered */
.animate{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.clickStyle, .front, .back {
    width:6.2rem;
    height: 6.2rem;
    line-height:6.2rem/* 5.8rem*/;
    border-radius: 1rem;
}

/* flip speed goes here */
.clickStyle {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border:2px solid #78d0f4;
    box-sizing: border-box;
    font-family: "numberFontForGame","microsoft yahei light";
}

/* front pane, placed above back */
.front {
    z-index: 2;
    background-color: transparent;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: transparent;
    font-size: 3.5rem;
    text-align: center;
    color:#fff;
}

.clickLineStyle{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:space-between;
    justify-content:space-between;
    margin-top:1.2rem
}

.clickLineStyle:first-child{
    margin-top: 0;
}

.onSelect .back{
    background-color: #cfe2ff;
    color: #607ac4;
}
.onSelect .front,.onSelect .back{
   border:2px solid #1c7de8;
}


/*page*/

#page3{
    position: relative;
    width: 100%;
    min-height: 100%;
    height:100%;
    background: url(../img/88-3-01.png) no-repeat;
    background-size: 100% auto;
    /*background-position: center;*/
    overflow: hidden;

    background: -webkit-linear-gradient(top,#0530a3,#0751fe);
    margin: 0 auto;
}
#page3 #p3Inner{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height:100%;
}
#page3 .p3HeadPic{
   width:24rem;
    height:31.488rem;
    background:  url(../img/88-3-02.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    overflow: hidden;
}


#page3 .p3Title{
    text-align: center;
    margin-top: 8rem;
    font-size: 1.5rem;
    letter-spacing: 0.3125rem;
    color:#fff;
    opacity: 0;
}

#page3 .p3Res{
    font-size: 1.75rem;
    color:#fef104;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
    justify-content:center;
    text-shadow: #000 1px 3px 0;
    opacity:0;
}


#page3 .p3ResNum{
    font-size: 5rem;
    color:#fef104;
    /*background-color: #0650fd;*/
}

#page3 .p3Unit{
    font-size: 1.5rem;
    line-height: 5rem;
    margin-left: 0.5rem;
}
#page3 .p3BtnStyle{
    width: 55%;
    height: 4rem;
    line-height: 3.6rem;
    text-align: center;
    margin: 0 auto ;
    font-size: 1.75rem;
    letter-spacing: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.625rem #0bffff;
    border: 2px solid #fff;
    box-sizing: border-box;
}

#page3 .p3PlayAgainBtn{
    position: relative;

    margin-top: 28rem;
    color:#096bfc;

    background: #fffd76;
    z-index: 1;
}

#page3 .p3ShareBtn{
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    color:#fff;

    background: transparent;
}



.boxShadow,.boxShadowShare{
    top:0;
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.popWindow{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    margin-top: -10rem;
    margin-left: -10rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.625rem #0bffff;
    z-index: 10001;

}

.popWindowTextOutter{
    width:18rem;
    height:18rem;
    overflow: scroll;
}
.popWindowText{
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    color:#818181;
}
.popWindowClose{
    position: absolute;
    width:2rem;
    height:2rem;
    line-height: 2rem;
    right:0;
    top:-3rem;
    background-image:url(../img/close.png);
    background-size: 100% 100%;
}



.popWindowShare,.popWindowOver{
    width:20rem;
    height:15rem;
    margin-top:-7.5rem;
}
.popWindowQRCode .popWindowTextOutter{
    width:14rem;
    height:18rem;
}

.popWindowQRCode{
    width:20rem;
    height:24rem;
    margin-top:-12rem;
    padding: 3rem;
}


.popWindowShare .popWindowLine1{
    text-align: center;
    color:#f6b900;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.popWindowShare .popWindowLine2{
    margin-top: 1rem;
}


.popWindowOver .popWindowLine1{
    text-align: center;
    color:#f6b900;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.popWindowOver .popWindowLine2{
    margin-top: 1rem;
}

.popWindowQRCodeImg{
    background-image: url(../img/QRCode.png);
    width:11rem;
    height:11rem;
    background-size: 100% 100%;
    margin: 1rem auto 0 auto;
}

.popWindowImgTextLine{
    font-size: 0.75rem;
    color:#c5c5c5;
    margin-top: 0.5rem;
}

.popWindowQRCode .popWindowText{
    font-size: 1.25rem;
}


.popShareImg{
    position: absolute;
    top: 1rem;;
    right: 2rem;
    width:10rem;
    height:10rem;
    background: url(../img/share.png);
    background-size: 100% 100%;
    z-index: 10001;
}
