body{
    background: #7bdcff;
    color:#000;
}
.indexPanel{
    background-color: #fff;
    padding:0.75rem;
    margin-bottom: 0.75rem;
    padding-bottom:2rem;
}
.headTitle{
    background-color:#2377d7 ;
    color:#fff;
    font-size: 1rem;
    text-align: center;
    height:3rem;
    line-height: 3rem;
}
.titleline{
    height:3rem;
    line-height: 3rem;
    color:#146dd5;
    font-weight: 600;
    font-size: 1rem;
}
.titleline span{
    color:red;
}
.inputLine{
    width:100%;
    height:2rem;
    line-height: 2rem;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    padding: 0 1rem;
}
.indexOutter{
    padding:0.75rem;
}
.upLoadOutter{
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px dashed #aaa;
    min-height:3rem;
    line-height: 1.5rem; 
    border-radius: 0.5rem;
    padding:0.5rem;
    overflow: hidden;
}
.imageUpload{

    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer

}

.sampleImg{
    display: block;
    width: 90%;
    margin: 0.5rem auto;
}
.upLoadOutter span{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}

.choiceLine{
    height:2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    margin-bottom: 0.75rem;
}

.radioOutter{

    width:1.25rem;
    height:1.25rem;
    margin: 0.3125rem 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #aaa;
}

.radioCheck.checked{
    width:0.875rem;
    height:0.875rem;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    border-radius: 0.5rem;
    background-color: #2377d7;
}

.selectPart{
    height:2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    width: 100%;
    padding:0 0.5rem;
    background-color: #fff;
}
.tipsLine {
    margin-bottom: 0.75rem;
}

.titleText{
    font-weight: 600;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
}
.uploadPart{
    width:90%;
    margin: 0.75rem auto;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.uploadDel{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    
}

.uploadIcon{
    width: 1.5rem;
    height: 1.3125rem;
    display: block;
}
.uploadName{
    padding:0 0.5rem;
    width:100%;
    word-break: break-all;
}

.saveBtn{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    width: 80%;
    border-radius: 0.5rem;
    margin: 0.75rem auto;
    color: #fff;
    background-color: #f29f2d;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;  
}

.submitBtn{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    width: 80%;
    border-radius: 0.5rem;
    margin: 0.75rem auto 2rem auto;
    color: #fff;
    background-color: #f29f2d;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;

}